.dials {
  font-size: inherit;
  line-height: 1;
  display: flex;
  gap: 10px;
}

.ui__digit:nth-last-child(even):not(:first-child) {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.ui__digit:nth-last-child(even):not(:first-child):before {
  content: ':';
  font-size: inherit;
  line-height: 1;
  display: inline-block;
}
