.digit {
  background-color: #f2f1ed;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.4);
  border-radius: 0.07em;
  font-family: 'Roboto Mono', monospace;
  color: #de4848;
  font-size: inherit;
  line-height: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  justify-content: center;
  position: relative;
  perspective: 400px;
}

.digit:before {
  content: attr(data-before);
  border-radius: 0.075em 0.075em 0 0;
  border-top: 1px solid #cebbbb;
  border-bottom: 1px solid #ccc7c7;
  background-color: #ddd3d3;
  grid-column: 1 / span 1;
  grid-row: 1 / 2;
  height: 0.5em;
  display: flex;
  align-items: flex-start;
  padding: 0 0.2em 0 0.2em;
  overflow: hidden;

  position: relative;
  /* bottom: 40px; */
  background: yellow;
}

.digit:after {
  content: attr(data-after);
  border-radius: 0 0 0.075em 0.075em;
  border-bottom: 1px solid #c6b6b6;
  background-color: #fff;
  grid-column: 1 / span 1;
  grid-row: 2 / 3;
  height: 0.5em;
  display: flex;
  align-items: flex-end;
  padding: 0 0.2em 0 0.2em;
  overflow: hidden;

  position: relative;
  /* top: 40px; */
  background: yellow;
}

.card {
  display: flex;
  height: 0.5em;
  padding: 0 0.2em 0 0.2em;
  overflow: hidden;
}

.card-top {
  border-radius: 0.075em 0.075em 0 0;
  border-top: 1px solid #ccb8b8;
  border-bottom: 1px solid #ccc7c7;
  background-color: #ddd3d3;
  grid-column: 1 / span 1;
  grid-row: 1 / 2;
  align-items: flex-start;
  transform-origin: bottom;
  transform-style: preserve-3d;
  z-index: 1;

  transform: rotateX(0deg);
}

.card-bottom {
  border-radius: 0 0 0.075em 0.075em;
  border-bottom: 1px solid #c0b0b0;
  background-color: #fff;
  grid-column: 1 / span 1;
  grid-row: 2 / 3;
  align-items: flex-end;
  transform-origin: top;
  z-index: 1;

  transform: rotateX(90deg);
}

/* .card-top-leave-active {
  transition: transform 300ms ease-in;
}

.card-top-leave-from {
  transform: rotateX(0deg);
}

.card-top-leave-to {
  transform: rotateX(-90deg);
}

.card-bottom-leave-active {
  transition: transform 300ms ease-out 300ms;
}

.card-bottom-leave-from {
  transform: rotateX(90deg);
}

.card-bottom-leave-to {
  transform: rotateX(0deg);
} */

/* temp override */
/* .ui__digit {
  width: 100%;
} */

.libs {
  display: flex;
  gap: 50px;
}

/* spring demo */
.demo {
  display: grid;
  grid-template-rows: 160px 160px;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin: 2em 0;
}

.demo__card {
  /* position: absolute; */
  width: 120px;
  height: 160px;
  cursor: pointer;
  will-change: transform, opacity;
}

.card-front,
.card-back {
  background-size: cover;
  /* perspective: 600px; */
}

.card-back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
  transform-origin: bottom;
  /* transform-style: preserve-3d; */
  grid-row: 1/2;
}

.card-front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
  transform-origin: top;
  /* transform-style: preserve-3d; */
  grid-row: 2/3;
}
