.hello-world .heading {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

.hello-world .subheading {
  font-size: 1.2rem;
}

.hello-world h1,
.hello-world h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .hello-world h1,
  .hello-world h3 {
    text-align: left;
  }
}
